<h1>Stack Underflow</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<h2>Links</h2>
<ul>
	<li><%= link_to "Answers", answers_path %></li>
	<li><%= link_to "Answer Comments", answer_comments_path %></li>
	<li><%= link_to "Answer Votes", answer_votes_path %></li>
	<li><%= link_to "Questions", questions_path %></li>
	<li><%= link_to "Question Comments", question_comments_path %></li>
	<li><%= link_to "Question Votes", question_votes_path %></li>
</ul>